html{
  color: #e1e8eb;
}
.container{
  border: 5px solid #ffc107;
  height: 550px;
  width: 600px;
  margin-left: 30%;
  margin-top: 10%;
  background-color: #7952b3;
  /* color: #7952b3; */
}
p{
  font-size: larger;
}

input{
  margin-left: 1%;
}
.gender{
  margin-left: 40%;
}