html{
  color: #e1e8eb;
}
.container{
  border: 5px solid #343a40;
  height: 550px;
  width: 600px;
  margin-left: 30%;
  margin-top: 10%;
  background-color: #7952b3;
  /* color: #7952b3; */
}
p{
  font-size: larger;
}
h2, h3{
  color: #ffc107;
}

input{
  margin-left: 1%;
}
.gender{
  margin-top: 5%;
  margin-left: 40%;
}
.button{
  width: 20%;
  background-color: #343434;
  color: #ffc107;
  font-size: 20px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 38%;
  border-radius: 10%;
}
.result{
  margin-left: 43%;
}

#results{
  width: 60%;
  margin-left: 17%;
  margin-top: 0%;
}